.fixtures-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 75vw;
	margin: 0 auto;
	padding: 20px;
	text-align: center;
}

.fixtures-table {
	margin-bottom: 20px;
	font-size: 1rem;
	border-spacing: 0;
	td {
		padding: 10px;
		border: 1px solid #ddd;
		text-align: center;
	}
}

tr {
	transition: 0.2s;
}

tr:hover {
	cursor: pointer;
	box-shadow: 5px 0px 5px 3px rgba(0, 0, 0, 0.1);
}

.team-logo {
	width: 40px;
	height: auto;
	margin-right: 10px;
}

.fixture-row {
	background-color: #f9f9f9;
	border: 1px solid #ddd;
}

.fixture-row td {
	padding: 15px;
}

.fixture-row:nth-child(even) {
	background-color: #f2f2f2;
}

td img {
	vertical-align: middle;
}

.fixture-home-team-box,
.fixture-away-team-box {
	width: 20vw;
}

.fixture-home-team-name,
.fixture-away-team-name {
	padding-left: 0.5vw;
}

.fixtures-home-team-info {
	display: flex;
	align-items: center;
	padding-left: 5vw;
}

.fixtures-away-team-info {
	display: flex;
	align-items: center;
	padding-left: 5vw;
}

.fixture-home-team-box,
.fixture-away-team-box {
	width: 20vw;
}

.fixtures-time-box {
	width: 10vw;
}

.fixtures-vs-box {
	width: 2.5vw;
}

@media (max-width: 768px) {
	table {
		font-size: 0.875rem;
	}

	.team-logo {
		width: 25px;
	}

	td {
		padding: 8px;
	}
}
