.homepage-container {
  text-align: center;
  margin: 0;
  height: 65vh;
}

.homepage-hero-section {
  padding: 60px;
}

.homepage-hero-content {
  margin: 0 auto;
}

.league-logo {
  width: 250px;
  height: auto;
  margin-bottom: 30px;
}

.homepage-header {
  font-size: 2.7rem;
  margin-bottom: 20px;
  font-weight: bold;
}

.homepage-paragraph {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 20px;
}

.league-nav {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 25px;
}

.nav-link {
  display: inline-block;
  padding: 15px 30px;
  background-color: #298ef9;
  color: #fff;
  border-radius: 8px;
  font-size: 1.1rem;
  text-decoration: none;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  opacity: 0;
}

.nav-link:hover {
  background-color: #0056b3;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

@media (max-width: 1799px) and (min-width: 900px) {
  .league-logo {
    width: 175px;
    height: auto;
    margin-bottom: 30px;
  }
}

@media (max-width: 768px) {
  .homepage-header {
    font-size: 2rem;
  }

  .homepage-paragraph {
    font-size: 1rem;
  }

  .news-container {
    grid-template-columns: 1fr;
  }

  .homepage-news-item {
    padding: 15px;
  }
}

@media (max-width: 480px) {
  .league-logo {
    width: 120px;
  }

  .homepage-header {
    font-size: 1.8rem;
  }

  .homepage-paragraph {
    font-size: 0.9rem;
  }

  .news-header h2 {
    font-size: 1.6rem;
  }

  .news-container {
    gap: 15px;
  }

  .homepage-news-item {
    padding: 11px;
  }
}
