.results-container {
	padding: 20px;
	text-align: center;
}

.results-table {
	max-width: 85%;
	margin: 0 auto;
	border-collapse: collapse;
	th,
	td {
		padding: 10px;
		border: 1px solid #ddd;
		text-align: center;
	}
}



tr:hover {
	cursor: pointer;
	box-shadow: 5px 0px 5px 3px rgba(0, 0, 0, 0.1);
}

.results-team-logo {
	width: 40px;
}

.home-results-team-info,
.away-results-team-info {
	display: flex;
	align-items: center;
	padding-left: 7.5vw;
}

.result-home-team-box,
.result-away-team-box {
	width: 25vw;
}

.results-home-team-name,
.results-away-team-name {
	padding-left: 0.25vw;
}

.result-scoreBox {
	font-weight: bolder;
	background-color: #ececec;
	width: 4vw;
	font-size: 1.5rem;
}

.results-time-box {
	width: 10vw;
}
